<div class="input-group">
    <input type="text" class="inpu" @bind-value="@Seed" placeholder="Seed Value" />
    <input type="text" @bind-value="@Flag" placeholder="Specific flag" />
    <input type="text" @bind-value="@BinaryFlags" placeholder="exact binary flags" />
</div>


@code {
    [Parameter]
    public string Seed { get; set; } = string.Empty;
    [Parameter]
    public string Flag { get; set; } = string.Empty;
    [Parameter]
    public string BinaryFlags { get; set; } = string.Empty;

    @* 
        TODO: 
        add labels for the inputs, and also style stuff
        and a search button that uses the AppState
        pass in the search app state to have it fetch based on that

    *@
}