@inherits FlagsetBase
<div class="grid mt-5">
    <section>
        <h2 class="h5">Do All</h2>
        <div class="button-row">
            <Objective DisplayText="Value" />
            <Objective DisplayText="Masa" />
            <Objective DisplayText="Ribbon" />
        </div>
    </section>
    <section>
        <h2 class="h5">Do Four&nbsp;
            <button class="btn btn-sm btn-success" onclick="document.getElementById('obj-dialog').showModal()">
                +
            </button>
        </h2>
        <div class="button-row">
            @foreach (var obj in questObjectives)
            {
                <Objective DisplayText="@obj" />
            }
        </div>
    </section>
    <section>
        <h2 class="h5">XP Bosses
            <button class="btn btn-sm btn-success"
                    onclick="document.getElementById('boss-dialog').showModal()">+</button>
        </h2>
        <div class="button-row">
            @foreach (var boss in bossObjectives)
            {
                <Objective DisplayText="@boss" />
            }
        </div>
    </section>
    <section class="full-span">
        <h2 class="h5">Flagset Notes</h2>
        <div class="button-row">
            @foreach (var note in flagsetNotes)
            {
                <Objective DisplayText="@note" />
            }
        </div>
    </section>
    <section class="full-span">
        <h2 class="h5">Personal Notes</h2>
        <p>@personalNotes</p>
    </section>
</div>

<dialog id="obj-dialog" @onclose="OnObjClose" @oncancel="OnObjCancel">
    <form method="dialog">
        <input type="text" @bind="objEntry" @bind:event="oninput" placeholder="Enter Objective text" />
        <button>save</button>
    </form>
</dialog>

<dialog id="boss-dialog" @onclose="OnBossClose" @oncancel="OnBossCancel">
    <form method="dialog">
        <input type="text" @bind="bossEntry" @bind:event="oninput" placeholder="Enter Objective text" />
        <button>save</button>
    </form>
</dialog>


@code {

    private List<string> questObjectives = ["Rat Trade"];
    private List<string> bossObjectives = ["Bahamut", "Wyvern"];
    private List<string> flagsetNotes = ["Kmain/moon/miab:above", "Balt:gauntlet/whichburn", "vanilla:miab"];

    private string objEntry = string.Empty;
    private string bossEntry = string.Empty;

    private string personalNotes = "Don't forget Flamedog";
    private void OnObjCancel(EventArgs e)
    {
        bossEntry = string.Empty;
    }

    private void OnObjClose(EventArgs e)
    {
        questObjectives.Add(objEntry);
        objEntry = string.Empty;
    }

    private void OnBossCancel()
    {
        bossEntry = string.Empty;
    }

    private void OnBossClose()
    {
        bossObjectives.Add(bossEntry);
        bossEntry = string.Empty;
    }

    private void ResetData()
    {
        questObjectives = ["Rat Trade"];
        objEntry = string.Empty;

        bossObjectives = ["Bahamut", "Wyvern"];
        bossEntry = string.Empty;
    }

    /*
        TODO
        * input area for personal notes
          * possibly change to List<string> for that on the base class?
        * Style dialog
    */


}