@inherits FlagsetBase
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-10">
            <h4>Do All</h4>
            <ul>
                <li>Value</li>
                <li>Masa</li>
                <li>Ribbon</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-10">
            <h4>Do Four</h4>
        </div>
        <div class="col-md-6 col-sm-10">
            <h4>XP Bosses</h4>
        </div>
        <div class="col-md-6 col-sm-10">

        </div>



        <h4 class="col-12">Flagset Notes</h4>
        <h4>Personal Notes</h4>
    </div>
</div>




@* <InputTextArea></InputTextArea> *@
@* 
    List static objectives for win:crystal 
    List 
    
*@


@code {

    //have a backing list of the Tough Quest objectives so we can filter the dropdowns to just what hasn't been selected yet
    //keep track of already selected flagsets
    //Have a backing list of the boss objectives so we can filter the dropdowns to just what hasn't been selected yet

}