@inherits FlagsetBase
<PageTitle>Meganuke Rally</PageTitle>
<div class="grid mt-5">
    <section>
        <h2 class="h3">Do All</h2>
        <div class="button-row">
            <Objective DisplayText="Value" />
            <Objective DisplayText="Masa" />
            <Objective DisplayText="Ribbon" />
        </div>
    </section>
    <section>
        <h2 class="h3">Do Four
            <button class="btn btn-success btn-plus btn-sm nf oi nf-fa-plus mb-2 pb-1"
                    onclick="document.getElementById('obj-dialog').showModal()" />

        </h2>
        <ObjectiveList ObjectivesList="@questObjectives" />
    </section>
    <section>
        <h2 class="h3">XP Bosses
            <button class="btn btn-success btn-plus btn-sm nf oi nf-fa-plus mb-2 pb-1"
                    onclick="document.getElementById('boss-dialog').showModal()"></button>
        </h2>
        <div class="button-row flex-wrap">
            <ObjectiveList ObjectivesList="@bossObjectives" />
        </div>
    </section>
    <section class="full-span">
        <h2 class="h3">
            Notes
            <button class="btn btn-success btn-plus btn-sm nf oi nf-fa-plus mb-2 pb-1"
                    onclick="document.getElementById('note-dialog').showModal()" />
            <button class="btn btn-info btn-plus btn-sm nf oi nf-fa-edit mb-2 pb-1"
                    onclick="document.getElementById('edit-note-dialog').showModal()"></button>
        </h2>
        <ObjectiveList ObjectivesList="@PersonalNotes" />
    </section>
</div>

<dialog id="obj-dialog" @onclose="OnObjClose" @oncancel="OnObjCancel" closedby="any">
    <form method="dialog">
        <input type="text" @bind="objEntry" @bind:event="oninput" placeholder="Objective description" />
        <div class="button-row mt-2">
            <button class="btn btn-small btn-success">save</button>
            <button class="btn btn-small btn-outline-danger">cancel</button>
        </div>
    </form>
</dialog>

<dialog id="boss-dialog" @onclose="OnBossClose" @oncancel="OnBossCancel" closedby="any">
    <form method="dialog">
        <input type="text" @bind="bossEntry" @bind:event="oninput" placeholder="Boss name" />
        <div class="button-row mt-2">
            <button class="btn btn-small btn-success">save</button>
            <button class="btn btn-small btn-outline-danger">cancel</button>
        </div>
    </form>
</dialog>

<dialog id="note-dialog" @onclose="OnNoteClose" @oncancel="OnNoteCancel" closedby="any">
    <form method="dialog">
        <p>Add your note:</p>
        <input type="text" @bind="noteEntry" @bind:event="oninput" placeholder="Enter note" class="form-control" />
        <div class="button-row mt-2">
            <button class="btn btn-small btn-success">save</button>
            <button class="btn btn-small btn-outline-danger">cancel</button>
        </div>
    </form>
</dialog>

<dialog id="edit-note-dialog" @onclose="OnEditNoteClose" @oncancel="OnEditNoteCancel" closedby="any">
    <form method="dialog">
        @if (PersonalNotes.Count > 0)
        {
            @foreach (var note in PersonalNotes)
            {
                <h3 class="h5">Click Trash to remove note</h3>
                <div class="grid">
                    <p>@note</p>
                    <button class="btn btn-danger btn-sm nf oi nf-cod-trash mx-4" @onclick="() => RemoveNote(note)"
                            @onclick:preventDefault="true" />
                </div>

            }

            <button class="btn btn-small btn-outline-primary mt-5">Close</button>
        }
        else
        {
            <p>No notes to remove</p>
            <button class="btn btn-small btn-outline-primary">Close</button>
        }
    </form>
</dialog>


@code {

    private List<string> questObjectives = ["Rat Trade"];
    private List<string> bossObjectives = ["Bahamut", "Wyvern"];
    private List<string> flagsetNotes = ["Kmain/moon/miab:above", "Balt:gauntlet/whichburn", "vanilla:miab"];

    private string objEntry = string.Empty;
    private string bossEntry = string.Empty;
    private string noteEntry = string.Empty;

    private void OnObjCancel(EventArgs e)
    {
        bossEntry = string.Empty;
    }

    private void OnObjClose(EventArgs e)
    {
        if (string.IsNullOrWhiteSpace(objEntry))
        {
            return;
        }
        questObjectives.Add(objEntry);
        objEntry = string.Empty;
    }

    private void OnBossCancel()
    {
        bossEntry = string.Empty;
    }

    private void OnBossClose()
    {
        if (string.IsNullOrWhiteSpace(bossEntry))
        {
            return;
        }
        bossObjectives.Add(bossEntry);
        bossEntry = string.Empty;
    }

    private void OnNoteCancel()
    {
        noteEntry = string.Empty;
    }

    private async Task OnNoteClose()
    {
        if (string.IsNullOrWhiteSpace(noteEntry))
        {
            return;
        }
        PersonalNotes.Add(noteEntry);
        await SaveDataAsync();
        noteEntry = string.Empty;
    }

    private void ResetData()
    {
        questObjectives = ["Rat Trade"];
        objEntry = string.Empty;

        bossObjectives = ["Bahamut", "Wyvern"];
        bossEntry = string.Empty;
    }

    private void OnEditNoteCancel() { /* no-op */ }

    private async Task OnEditNoteClose()
    {
        await SaveDataAsync();
    }

    private async Task RemoveNote(string note)
    {
        PersonalNotes.Remove(note);
    }

    /*

        TODO
        * Allow editing of Personal notes

        the below items aren't a huge deal and can be done after finishing the other tabs
        * Style dialog better
        * dialog component? adding in personal notes, that'll be three different dialogs and attendent methods all here, which
does not feel great.
    */
}