@using Enums = smz3.countdown.wasm.Enums

<button @onclick="ToggleStrike"
        class="@strikeThrough @buttonStyle btn btn-secondary mx-1 fw-bold text-wrap">@DisplayText</button>

@code {
    @* [Parameter]
    public Enums.Objective ObjectiveValue { get; set; } *@

    [Parameter]
    public string DisplayText { get; set; } = string.Empty;

    private bool IsClicked = false;
    private string buttonStyle = "btn-primary";
    private string strikeThrough = "";

    private void ToggleStrike()
    {
        IsClicked = !IsClicked;
        buttonStyle = SetButtonStyle();
        strikeThrough = SetStrikeThrough();
        StateHasChanged();
    }

    private string SetStrikeThrough() => IsClicked ? "text-decoration-line-through" : string.Empty;
    private string SetButtonStyle() => IsClicked ? "btn-secondary" : "btn-primary";
}