@inherits FlagsetBase
<PageTitle>Tsunami Open</PageTitle>
<div class="grid mt-5">
    <section>
        <h2 class="h5">Do One</h2>
        <div class="button-row">
            <Objective DisplayText="Rat" />
            <Objective DisplayText="Pink" />
        </div>
    </section>
    <section>
        <h2 class="h5">Do One</h2>
        <div class="button-row">
            <Objective DisplayText="King" />
            <Objective DisplayText="Queen" />
        </div>
    </section>
    <section>
        <h2 class="h5">Do One Row</h2>
        <div class="button-row">
            <Objective DisplayText="Magma" />
            <Objective DisplayText="Pass" />
            <Objective DisplayText="12 KI" />
        </div>
        <div class="button-row">
            <Objective DisplayText="Giant" />
            <Objective DisplayText="20 Bosses" />
        </div>
    </section>
    <section>
        <h2 class="h5">Do All</h2>
        <div class="button-row">
            <Objective DisplayText="Forge" />
        </div>
    </section>
    <section>
        <h2 class="h5">@bossesFought Bosses Fought</h2>
        <div class="button-row">
            <button class="btn btn-primary nf oi nf-fa-arrow_up" @onclick="Increment"></button>
            <button class="btn btn-outline-danger nf oi nf-fa-arrow_down" @onclick="Decrement"></button>
        </div>

    </section>
    <section class="full-span">
        <h2 class="h5">
            Personal Notes
            <button class="btn btn-sm btn-success" onclick="document.getElementById('note-dialog').showModal()">+
            </button>

        </h2>
        <div class="button-row">
            @foreach (var note in PersonalNotes)
            {
                <Objective DisplayText="@note" />
            }
        </div>
    </section>
</div>

<dialog id="note-dialog" @onclose="OnNoteClose" @oncancel="OnNoteCancel" closedby="any">
    <form method="dialog">
        <p>Add your note:</p>
        <input type="text" @bind="noteEntry" @bind:event="oninput" placeholder="Enter note" class="form-control" />
        <div class="button-row mt-2">
            <button class="btn btn-small btn-lg btn-success">save</button>
            <button class="btn btn-small btn-lg btn-outline-danger">cancel</button>
        </div>

    </form>
</dialog>

@code {
    private int bossesFought = 0;
    private string noteEntry = string.Empty;
    private void OnNoteCancel()
    {
        noteEntry = string.Empty;
    }

    private void Increment()
    {
        bossesFought += 1;
    }

    private void Decrement()
    {
        if (bossesFought > 0)
            bossesFought -= 1;

    }

    private async Task OnNoteClose()
    {
        if (string.IsNullOrWhiteSpace(noteEntry))
        {
            return;
        }
        PersonalNotes.Add(noteEntry);
        await SaveDataAsync();
        noteEntry = string.Empty;
    }
    //boss counter
    //ki counter (?) possibly/probaly not?

    //forge
    //list timings of some checks to make on the fly "how long" easier?
    //flagset notes
    //darkness and magma **must** be through underground
    //bnofree/chaosburn
    //not findable bosses?
    //warp glitch
}