@page "/"
@inject HttpClient Http
@using smz3.countdown.wasm.Attributes
@using smz3.countdown.wasm.Enums
@using smz3.countdown.wasm.Extenstions
@using smz3.countdown.wasm.Models

<PageTitle>Index</PageTitle>
<br />
<p>Enter Seed or Session info</p>
<input type="text" @bind="childString" @bind:event="oninput" title="for solo, use Seed (not Seed Number) for multiworld, use Session" />
<button @onclick="ConvertShortGuid">Fetch Spoiler</button>

<br />
<br />

@*@if (players.Count() > 1)
{
    <p>players: @string.Join(", ", @players)</p>
}*@

@if (countdownLocationInfos.Any())
{
    <TabControl>
        @for(var i = 0; i < countdownLocationInfos.Count(); i++)
        {
            var internalIndex = i;
            <TabBody Title="@countdownLocationInfos[internalIndex].LocationName">
                <CountdownLocation @bind-LocationInfo=countdownLocationInfos[internalIndex] />
            </TabBody>
        }
    </TabControl>
}

@code {
    private List<string> players { get; set; } = new List<string>();
    private string? id { get; set; }
    private string? childString { get; set; }
    private bool isMultiworld { get; set; }
    private Dictionary<string, int> locationInfo { get; set; } = new Dictionary<string, int>();
    private SpoilerResponse response = new SpoilerResponse();
    private List<CountdownLocationInfo> countdownLocationInfos = new List<CountdownLocationInfo>();

    string urlBase => "https://samus.link/api/spoiler/";

    public async Task ConvertShortGuid()
    {
        id = childString?.ConvertShortGuidToGuidString();
        try
        {
            var items = Enum.GetValues(typeof(Item));

            var itemList = ((Item[])items).Select(x => new { Name = x.GetDescription(), IsMajor = x.IsMajor() })
                                          .Where(x => x.IsMajor)
                                          .Select(x => x.Name)
                                          .ToHashSet();

            var areas = Enum.GetValues(typeof(Area));
            var locationsList = ((Area[])areas).Select(x => x.GetAttribute<AreaAttribute>()).ToDictionary(key => key.LocationRegion, value => value.DisplayText);
            locationInfo = locationsList.Select(x => x.Value).Distinct().ToDictionary(key => key, value => 0);

            response = await Http.GetFromJsonAsync<SpoilerResponse>($"https://smz3-countdown-api.herokuapp.com/spoiler/{id}") ?? response;
            if (!response.Locations.Any())
            {
                return;
            }

            players = response?.Seed.Worlds.Select(x => x.Player).ToList() ?? players;

            //Single player
            if (players.Count == 1)
            {
                response?.Locations.ForEach(l =>
                {
                    if (!itemList.Contains(l.ItemName))
                    {
                        return;
                    }

                    if (locationsList.ContainsKey(l.LocationRegion))
                    {
                        var displayText = locationsList[l.LocationRegion];
                        locationInfo[displayText] += 1;
                        
                    }
                });

                countdownLocationInfos = locationInfo.Select(x =>
                    new CountdownLocationInfo
                        {
                            LocationName = x.Key,
                            CurrentCount = x.Value,
                            OriginalCount = x.Value
                        })
                    .ToList();
            }

            //multiworld
            if(players.Count > 1)
            {
                //requires Selected Player code to be built
            }
        }
        catch (Exception ex)
        {
            var stuff = ex;
            throw ex;
        }
    }
}