@page "/majors"

@using smz3.countdown.wasm.Services
@inject ItemService ItemService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<PageTitle>Majors</PageTitle>
<h3>
    Majors
    <button class="btn btn-primary" @onclick="SetToDefault">Default</button>
    <button class="btn btn-secondary" @onclick="SetToDefaultKeys">Keys Default</button>
</h3>


<div class="container">
    <div class="row">
        @foreach (var item in ItemsChoices)
        {
            <fieldset class="col-lg-6 col-md-12">
                <input id="@item.Key" type="checkbox" class="form-check-input" checked="@item.Value" @onchange="(e) => CheckboxChanged(item.Key, e)" />
                <label for="@item.Key" class="form-check-label">&nbsp;@item.Key</label>
            </fieldset>
        }
    </div>
</div>


@code {

    private HashSet<string> Items { get; set; } = new HashSet<string>();
    private Dictionary<string, bool> ItemsChoices { get; set; } = new Dictionary<string, bool>();

    protected override async Task OnInitializedAsync()
    {

        var storageMajors = await localStorage.GetItemAsync<List<string>>("Majors");
        if (storageMajors != null)
        {
            Items = storageMajors.ToHashSet();
        }
        else
        {
            Items = ItemService.MajorItems.OrderBy(x => x).ToHashSet();
        }

        ItemsChoices = GenerateItemsChoicesDictionary(ItemService.AllItems, Items);

        base.OnInitialized();
    }

    private async Task CheckboxChanged(string itemName, ChangeEventArgs e)
    {
        if (e == null || e.Value == null)
        {
            return;
        }

        var stuff = (bool)e.Value;
        if (stuff)
        {
            Items.Add(itemName);
        }
        else
        {
            Items.Remove(itemName);
        }

        await localStorage.SetItemAsync<List<string>>("Majors", Items.ToList());
    }

    private async Task SetToDefault()
    {
        Items = ItemService.MajorItems.OrderBy(x => x).ToHashSet();

        ItemsChoices = GenerateItemsChoicesDictionary(ItemService.AllItems, Items);
        NavigationManager.NavigateTo("/");
        await localStorage.SetItemAsync<List<string>>("Majors", Items.ToList());
    }

    private async Task SetToDefaultKeys()
    {
        Items = ItemService.KeysItems.Concat(ItemService.MajorItems).OrderBy(x => x).ToHashSet();
        ItemsChoices = GenerateItemsChoicesDictionary(ItemService.AllItems, Items);
        NavigationManager.NavigateTo("/");
        await localStorage.SetItemAsync<List<string>>("Majors", Items.ToList());
    }

    private Dictionary<string, bool> GenerateItemsChoicesDictionary(HashSet<string> outerSet, HashSet<string> innerSet)
    {
        return outerSet.GroupJoin(
            innerSet,
            o => o,
            i => i,
            (o, i) => new { ItemName = o, Selected = !string.IsNullOrWhiteSpace(i.FirstOrDefault()) })
            .OrderBy(x => x.ItemName)
            .ToDictionary(x => x.ItemName, y => y.Selected);
    }

}
