@using smz3.countdown.wasm.Components;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tellah Life</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <NavItem IconName="nf-fa-home" LinkName="Countdown" LinkRef="" />
        <NavItem IconName="nf-oct-tasklist" LinkName="Items" LinkRef="ItemSelection" />
        <NavItem IconName="nf-md-map_marker" LinkName="Locations" LinkRef="Locations" />
        <NavItem IconName="nf-fae-poison nf-cod-beaker" LinkName="Poison" LinkRef="Poison" />
        <NavItem IconName="nf-md-tournament" LinkName="Tournament" LinkRef="Tournaments" />
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
